<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilehotelmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileHotelManagementSystem">
        <activity android:name=".Customer_select_food_service"></activity>
        <!-- <activity
            android:name=".Customer_select_food_service"
            android:label="@string/title_activity_food_service"
            android:theme="@style/Theme.MobileHotelManagementSystem.NoActionBar" /> -->
        <activity android:name=".Customer_select_service" />
        <activity android:name=".edit_cleaning_service" />
        <activity android:name=".add_new_cleaning_service" />
        <activity android:name=".MassageRoom" />
        <activity android:name=".KaraokeRoom" />
        <activity android:name=".IndoorSwimmingPool" />
        <activity android:name=".EditMassageList" />
        <activity android:name=".AddNewMassageReservation" />
        <activity android:name=".EditKaraokeList" />
        <activity android:name=".rooms_service" />
        <activity android:name=".AddNewKaraokeReservation" />
        <activity android:name=".EditPoolList" />
        <activity android:name=".AddNewPoolReservation" />
        <activity android:name=".EditCustomerList" />
        <activity android:name=".AddNewCustomer" />
        <activity android:name=".checkIn_and_checkOut" />
        <activity android:name=".facilities_monitoring" />
        <activity android:name=".Customer_pay_successful" />
        <activity android:name=".Customer_select_detail" />
        <activity android:name=".Customer_purchase" />
        <activity android:name=".CustomerMainActivity" />
        <activity android:name=".Customer_select_room" />
        <activity android:name=".customer_login" />
        <activity android:name=".customer_register" />
        <activity android:name=".main_page" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Select_staff_customer_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>